<html>
<head>
<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'js/test.js') }}"></script> -->
<script type="text/javascript" src="/static/js/test.js"></script>
</head>
<body>
	{{ marks }}

	<table border=1>
		{% for key, value in result.iteritems() %}

		<tr>
			<th>{{ key}}</th>
			<td>{{ value }}</td>
		</tr>

		{% endfor %}
	</table>

	<br /> 
	
	{% if marks > 50 %}
	<h1>Your result is pass!</h1>
	{% else %}
	<h1>Your result is fail</h1>
	{% endif %}

	<h1>Hello {{ name }}!</h1>

	<form action="/" method="post">
		<p>Enter Name:</p>
		<p>
			<input type="text" name="nm" />
		</p>
		<p>
			<input type="submit" value="submit" />
		</p>
	</form>

	<br />

	<input type = "button" onclick = "sayHello()" value = "Say Hello" />

</body>
</html>